<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
        img{
            width: 200px;
        }
    </style>
</head>
<body>
    <form action="/updateitem/<%= product._id %>" method="post" enctype="multipart/form-data">
        <input type="text" value="<%= product.productname %>" name="productname" placeholder="enter product name">
        <input type="text" value="<%= product.productdescription %>" name="productdescription" placeholder="enter product description">
        <input type="number" value="<%= product.price %>" name="price" placeholder="enter price">
        <input type="text" value="<%= product.category %>" name="category" placeholder="category">
        <img src="../<%=product.imageurl %>" alt="temp">
        <input type="file" name="productimage">
        <input type="submit" value="Update">
    </form>
</body>
</html>